@import '@unocss/reset/tailwind.css';
@import 'virtual:uno.css';

:root {
  --radius: 0.625rem;
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
